/* Special additional styling for Admin Pages */

/* Prevent links from changing colour on click */
.AdminPageLinks a, .AdminCommentViews a, .AdminComments a , .AdminReturnLink{
	color : blue;
}

/* Align edit post form nicely (*/
.EditPostForm  { display: table; }
.EditPostForm p     { display: table-row; }
.EditPostForm label { display: table-cell; }
.EditPostForm input { display: table-cell; }
